/**
 * 	Name: elements.css
 *
 *	T.O.C
 *	
 *	=Accordions and Toogles
 *	=Alerts
 *	=Animations
 *	=Buttons
 *	=Client logos
 *	=Custom Lists
 *	=Dividers
 *	=Google Maps
 *	=Headlines
 *	=Icon Boxes
 *	=Milestones
 *	=Our Process
 *	=Page Loader
 *	=Pie charts
 *	=Pricing Tables
 *	=Progress Bar
 *	=Social Media
 *	=Styled Tables
 *	=Tabs
 *	=Testimonials
 *	=Team Member
 *	=Portfolio Item
 *	=Portfolio Filter
 *	=Portfolio pagination
 *	=Portfolio Isotope
 *	=Portfolio Grid
 *	=Portfolio Strip
 *	=Contact form
 *	=Blog
 *	=Fullwidth Section
 *	=WordPress Default Classes
 *	=WordPress Widgets
 *		=Widgets default
 *		=Text Widget
 *		=Search Widget
 *		=Recent Entries Widget
 *		=Pages Widget
 *		=Archive Widget
 *		=Categories Widget
 *		=Meta Widget
 *		=Recent Comments Widget
 *		=Tag Cloud Widget
 *		=Calendar Widget
 *		=Nav Menu Widget
 *		=RSS Widget
 *	=WordPress Custom Widgets
 *		=EWF Twitter widget
 *		=EWF Flickr widget
 *		=EWF Contact Info widget
 *		=EWF Newsletter subscribe widget
 *		=EWF Latest posts widget
 *		=EWF Navigation widget
 *		=EWF Social media widget
 *	=WordPress Comments
 *	=WordPress Comment Form
 *
 */

 
/* ==========================================================================
   =Accordions and Toogles
   ========================================================================== */

/* =Accordion
   ========================================================================== */
	
	.accordion { margin-bottom: 50px; }

	.accordion-item {
		position: relative;
		display: block;
		padding: 20px 30px;
		border-radius: 20px;
		margin-bottom: 15px;
		background-color: #3db39e;
		color: #fff;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.accordion-item { color: #fff; }
	
	.accordion-item:after {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 18px;
		content: "+";
	}
	
	.accordion-item.active:after { content: "-"; }
	
	.accordion-item:hover,
	.accordion-item.active {
		background-color: #51648a;
		text-decoration: none; 
	}
	
	.accordion-item-content { display: none; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.accordion-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
/* =Toogle
   ========================================================================== */
	
	.toggle { margin-bottom: 50px; }

	.toggle-item {
		position: relative;
		display: block;
		padding: 20px 30px;
		border-radius: 20px;
		margin-bottom: 15px;
		background-color: #3db39e;
		color: #fff;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.toggle-item { color: #fff; }
	
	.toggle-item:after {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 18px;
		content: "+";
	}
	
	.toggle-item.active:after { content: "-"; }
	
	.toggle-item:hover,
	.toggle-item.active {
		background-color: #51648a;
		text-decoration: none; 
	}
	
	.toggle-item-content { display: none; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.toggle-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}

/* ==========================================================================
   =Alerts
   ========================================================================== */

	.alert {
		padding: 8px 15px;
		border: 1px solid #c2c2c2;
		border-radius: 7px;
		margin-bottom: 30px;
		text-align: center;
	}
	
	.alert i {
		position: relative;
		top: 1px;
		margin-right: 7px;
		font-size: 16px;
	}
	
	.alert.info {
		border: 1px solid #3db39e;
		background-color: #3db39e;
		color: #fff;
	}
	
	.alert.success {
		border: 1px solid #3e4f71;
		background-color: #3e4f71;
		color: #fff;
	}
	
	.alert.error {
		border: 1px solid #ef496c;
		background-color: #ef496c;
		color: #fff;
	}
	
	.alert.warning {
		border: 1px solid #232323;
		background-color: #232323;
		color: #fff;
	}
	
/* ==========================================================================
   =Animations
   ========================================================================== */
   
   .animate {
		-webkit-animation-duration: 1s;
				animation-duration: 1s;
		-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
		visibility: hidden;
	}

	.animate.visible { visibility: visible; }
	.animate.hidden { visibility: hidden; }
   
/* ==========================================================================
   =Buttons
   ========================================================================== */

/* =Default Button
   ========================================================================== */
   
	.btn {
		position: relative;
		z-index: 2;
		overflow: hidden;
		display: inline-block; 
		padding: 10px 20px; 
		border-radius: 20px;
		margin: 0 5px 20px 0;
		background-color: #3db39e;
		color: #fff;
		line-height: 18px; 
		text-decoration: none !important;
		vertical-align: middle;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 	
	}
	
	.btn:after {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		background-color: #2f9f8b;
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.btn { color: #fff; }
	
	.btn:focus { outline: 0; }
	
	.btn-large {
		padding: 15px 35px;
		font-size: 16px;
	}
	
	.btn i,
	.btn-large i { 
		float: left; 
		margin: 2px 8px 0 -4px;
		font-size: 14px; 
		line-height: 14px; 
	}
	
	.btn:hover:after { width: 100%; }
	.btn:hover { background-color: #3db39e;  }

/* =Alternative Buttons
   ========================================================================== */
   
	.btn.alt { background-color: #51648a; }
	.btn.alt:after { background-color: #3e4f71; }
	

/* =Colored Buttons
   ========================================================================== */
   
	.btn-white {
		border: 1px solid #e0e0e0;
		background-color: #fff;
	}
	
	a.btn-white { color: #51648a; }
	.btn-white:hover { background-color: #fff; }
	a.btn-white:after { background-color: #e8e8e8; }

/* ==========================================================================
   =Client logos
   ========================================================================== */	
	
	.client-logos {
		margin-bottom: 50px; 
		list-style: none;
		text-align: center;
	}
	
	 .client-logos li { display: inline-block; }
	
	@media (min-width: 1400px) {
		
		.client-logos li { margin: 0 20px; }
		
	}
	
	@media (max-width: 767px) {
		
		.client-logos li { 
			display: block;
			margin: 0 auto;
		}
		
	}

/* ==========================================================================
   =Custom Lists
   ========================================================================== */

	/**
 	 * Custom lists
 	 *
	 * 1. unstyled list
	 * 2. list with squares for bullets
	 * 3. list with discs for bullets
	 *
	 */
	 
	ul.unstyled { list-style-type: none; } /* 1 */
	ul.square { list-style-type: square; } /* 2 */
	ul.circle { list-style-type: circle; } /* 3 */
	 
	ul.fill-circle { list-style: none; }
	
	ul.fill-circle li { margin-bottom: 10px; }
	ul.fill-circle li:last-child { margin-bottom: 0; }
	
	ul.fill-circle li:before {
		position: relative;
		top: -2px;
		display: inline-block; 
		width: 7px;
		height: 7px;
		border-radius: 50%;
		margin-right: 15px;
		background-color: #3db39e;
		content: "";
	}

/* ==========================================================================
   =Dividers
   ========================================================================== */

	.divider { margin: 30px 0; }
	
	.divider.single-line { border-top: 1px solid #e0e0e0; }
	
	.divider.double-line { border-top: 4px double #e0e0e0; }
	
	.divider.single-dotted {
		 height: 1px;
		 background: url(../images/bg-single-dotted.gif) repeat-x top left ;  
	}
	
	.divider.double-dotted { 
		height: 4px;
		background: url(../images/bg-double-dotted.gif) repeat-x top left; 
	}	
   
/* ==========================================================================
   =Google Maps
   ========================================================================== */

	 /**
	 * 1. needed so that Google Maps controls are not distorted
	 */
	 
	.google-map {}
	.google-map  img { max-width: none; }	/* 1 */
	
	.map { 
		width: 100%; 
		height: 400px; 
		margin-bottom: 50px; 
	}

/* ==========================================================================
   =Headlines
   ========================================================================== */

	.headline { 
		margin: 50px 0;
		text-align: center;
		text-transform: uppercase;
	}
	
	.headline h2 { font-weight: 700; }
	
/* ==========================================================================
   =Icon Boxes
   ========================================================================== */

/* =Icon Box 1
   ========================================================================== */
   
	.icon-box-1 { 
		position: relative; 
		margin: 50px 0;
		text-align: center; 
	}
		
	.icon-box-1 > i { 
		display: block;
		width: 98px;
		height: 98px;
		border: 15px solid #3db39e;
		border-radius: 50%;
		margin: 0 auto 25px auto;
		background-color: #3db39e;
		background-clip: padding-box;
		color: #fff; 
		font-size: 48px;
		line-height: 98px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.icon-box-1 > img { margin-bottom: 25px; }
	.icon-box-1 h3 { margin-bottom: 25px; }
	
	.icon-box-1 .icon-box-content {}
	
	.icon-box-1:hover > i { background-color: #51648a; }
	
/* ==========================================================================
   =Milestones
   ========================================================================== */

	.milestone {
		position: relative;
		margin-bottom: 50px;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.milestone:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	.milestone i {
		float: left;
		z-index: 20;
		margin-right: 10px;
		font-size: 32px;
	}
	
	.milestone .milestone-content {
		z-index: 10;
		font-size: 72px;
		line-height: 72px;
		font-weight: 600;
		text-align: center;
	}
	
	.milestone .milestone-description {
		margin-top: 30px; 
		font-size: 18px; 
		line-height: 30px;
		text-transform: uppercase;
	}

/* ==========================================================================
   =Our Process
   ========================================================================== */

/* =Horizontal process
   ========================================================================== */

	.horizontal-process-builder { 
		position: relative;
		margin-bottom: 40px;
		list-style: none;
		text-align: center; 
	}
	
	.horizontal-process-builder:before {
		position: absolute;
		z-index: 1;
		top: 90px;
		left: 130px;
		display: block;
		width: 75%;
		border-top: 2px solid #3db39e;
		content: "";
	}
	
	.horizontal-process-builder li { 
		float: left;
		width: 25%;  
	}
	
	.horizontal-process-builder li i,
	.horizontal-process-builder li h1 {
		position: relative;
		z-index: 2;
		display: block;
		width: 120px; 
		height: 120px;
		overflow: hidden;  
		border: 30px solid #3db39e;
		border-radius: 50%;
		outline: 20px solid #fff;
		margin: 0 auto 20px;
		background-color: #fff;
		background-clip: padding-box;
		color: #51648a;
		font-size: 42px; 
		line-height: 120px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.horizontal-process-builder li img {
		position: relative;
		z-index: 2;
		display: block;
		overflow: hidden;  
		border: 20px solid #3db39e;
		border-radius: 50%;
		outline: 20px solid #fff;
		margin: 0 auto 20px;
		background-color: #fff;
		background-clip: padding-box;
		color: #51648a;
		font-size: 42px; 
		line-height: 120px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.horizontal-process-builder li:hover i,
	.horizontal-process-builder li:hover h1 {
		background-color: #51648a;
		color: #fff;
	}
	
	.horizontal-process-builder li:hover img { border-color: #51648a; }

	.horizontal-process-builder.three-items li { width: 33.3333333333%; }
	.horizontal-process-builder.four-items li { width: 25%; }
	.horizontal-process-builder.five-items li { width: 20%; }
	
	.process-description { padding: 0 15px; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.horizontal-process-builder:before { display: none; }
		
		.horizontal-process-builder li i,
		.horizontal-process-builder li h1 {
			width: 90px;
			height: 90px;
			line-height: 90px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.horizontal-process-builder li { 
			float: none;
			width: 100%;
			margin-bottom: 40px; 
		}
		
		.horizontal-process-builder:before { content: none; }
		
		.horizontal-process-builder.three-items li { width: 100%; }
		.horizontal-process-builder.four-items li { width: 100%; }
		.horizontal-process-builder.five-items li { width: 100%; }
		
	}
	
/* =Vertical process
   ========================================================================== */

	.vertical-process-builder {
		position: relative;
		margin-bottom: 40px;
		list-style: none;
	}
	
	.vertical-process-builder:before {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 26px;
		display: block;
		height: 85%;
		border-left: 1px solid #e0e0e0;
		content: "";
	}
	
	.vertical-process-builder li { margin-bottom: 70px; }
	
	.vertical-process-builder li i,
	.vertical-process-builder li h1 {
		position: relative;
		z-index: 2;
		float: left;
		display: block;
		width: 72px;
		height: 72px;
		overflow: hidden;
		border: 1px solid #e0e0e0;
		border-radius: 50%;
		outline: 10px solid #fff;
		margin-left: -10px;
		background-color: #fff;
		background-clip: padding-box;
		font-size: 36px;
		line-height: 72px;
		text-align: center;
		-webkit-transition: backgroud-color 0.3s;
				transition: backgroud-color 0.3s;
	}
	
	.vertical-process-builder .process-description { margin-left: 100px; }
	
	.vertical-process-builder li:hover i,
	.vertical-process-builder li:hover h1 {
		background-color: #f3f3f3;
	}
	
	@media (max-width: 767px) {
		
		.vertical-process-builder li i,
		.vertical-process-builder li h1 { margin-left: 0; }
		
		.vertical-process-builder:before { left: 36px; }
		
	}
	
/* ==========================================================================
   =Page Loader
   ========================================================================== */	
	
	#page-loader {
		position: fixed;
		z-index: 999999;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}

	.loader-img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -102px 0 0 -102px;
		text-align: center;
	}

/* ==========================================================================
   =Pie charts
   ========================================================================== */

	.pie-chart {
		position: relative;	
		margin: 0 auto 30px auto;
		text-align: center;
	}
	
	.pie-chart canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	
	.pie-chart i, 
	.pie-chart .pie-chart-custom-text, 
	.pie-chart .pie-chart-percent {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.pie-chart img {
		max-width:100%;
		vertical-align: middle;
	}
	
	.pie-chart .pie-chart-custom-text {
		top: 30px;
		font-size: 18px;
		font-weight: 600;
	}
	
	.pie-chart .pie-chart-percent {
		top: -10px;
		font-size: 36px;
		font-weight: 600;
	}
	
	.pie-chart .pie-chart-percent sup {
		margin-left: -10px;
		font-size: 20px;
	}
	
	.pie-chart-description {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		font-size: 12px;
		text-align: center;
	}

/* ==========================================================================
   =Pricing Tables
   ========================================================================== */

	.pricing-table {
		overflow: hidden;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		border-radius: 20px;
		margin: 50px 0;
		background-color: #3e4f71;
		color: #fff;
		text-align: center;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.pricing-table .btn {
		border: solid #495a7c;
		border-width: 1px 5px 5px 1px;
		background-clip: padding-box;
	}
	
	.pricing-table .btn:after { background-color: #495a7c; }

	.pricing-table-header {	background-color: #2f9f8b; }
	
	.pricing-table-header h2 {
		padding: 15px 0;
		margin-bottom: 0;
		font-weight: 600;
		text-transform: uppercase; 
	}

	.pricing-table-header h1 {
		padding: 10px 0;
		margin-bottom: 0;
		background-color: #3db39e;
		font-size: 60px;
		font-weight: 600;
	}
	
	.pricing-table-header h1 sup {
		margin-left: -15px;
		font-size: 26px;
		vertical-align: text-top;
	}
	
	.pricing-table-header h1 sub {
		margin-left: -30px;
		font-size: 22px;
		vertical-align: inherit;
	}

	.pricing-table-header h4 {}
		
	.pricing-table-offer {
		padding: 25px 0;
		margin-bottom: 20px;
		background-color: #f4f4f4;
		color: #222;
	}
	
	.pricing-table-offer ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.pricing-table-offer ul li { 
		padding: 10px 0; 
	}
	
	.pricing-table-offer ul li:first-child { border-top: none; }
	
	.pricing-table:hover {
		-webkit-transform: scaleY(1.12);
			-ms-transform: scaleY(1.12);
				transform: scaleY(1.12);
	}
	
	@media (max-width: 767px) {
		
		.pricing-table:hover {
			-webkit-transform: scaleY(1);
				-ms-transform: scaleY(1);
					transform: scaleY(1);
		}
	
	}

/* ==========================================================================
   =Progress Bar
   ========================================================================== */

	.progress-bar-description {
		position: relative;
		display: block;
		margin-bottom: 15px;
		font-weight: 600;
		line-height: 14px;
	}
	
	.progress-bar-description span {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -30px;
	}
	
	.progress-bar {
		position: relative;
		overflow: hidden;
		display: block;
		height: 30px;
		border-radius: 10px;
		margin-bottom: 15px;
		background-color: #51648a;
	}
	
	.progress-bar .progress-bar-outer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 10px 0 0 10px;
		background-color: #3db39e;
	}
	
	.progress-bar .progress-bar-outer .progress-bar-inner {
		position: absolute;
		z-index: 1;
		overflow: hidden;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
	}

/* ==========================================================================
   =Social Media
   ========================================================================== */

	a.social-icon {
		float: left;
		display: block;
		width: 30px;
		margin-right: 1px;
		margin-bottom: 1px;
		color: #222;
		text-align: center;
	}

	a.social-icon:last-child { margin-right: 0; }

	a.social-icon i {
		font-size: 24px;
		line-height: 30px;
	}
	
	a.social-icon:hover { text-decoration: none; }
	
	a.facebook-icon:hover { color: #0e59a0 !important; }
	a.twitter-icon:hover { color: #0ea4ff !important; }
	a.dribble-icon:hover { color: #ea73a0 !important; }
	a.pinterest-icon:hover { color: #d73532 !important; }
	a.googleplus-icon:hover { color: #282927 !important; }
	a.tumblr-icon:hover { color: #586980 !important; }
	a.instagram-icon:hover { color: #82685a !important; }
	a.rss-icon:hover { color: #f79638 !important; }
	a.linkedin-icon:hover { color: #018faf !important; }
	a.skype-icon:hover { color: #00b0f6 !important; }
	a.flickr-icon:hover { color: #0061db !important; }
	a.vimeo-icon:hover { color: #63879c !important; }
	a.github-icon:hover { color: #3b3b3b !important; }
	a.youtube-icon:hover { color: #cc181e !important; }
	a.windows-icon:hover { color: #6dc2e9 !important; }
	a.dropbox-icon:hover { color: #007ee5 !important; }
	a.xing-icon:hover { color: #026566 !important; }	
	a.adn-icon:hover { color: #1ea076 !important; }
	a.android-icon:hover { color: #98cb02 !important; }
	a.apple-icon:hover { color: #000000 !important; }
	a.behance-icon:hover { color: #2d9ad2 !important; }
	a.bitbucket-icon:hover { color: #214f81 !important; }
	a.bitcoin-icon:hover { color: #f7931b !important; }
	a.codepan-icon:hover { color: #000000 !important; }
	a.css3-icon:hover { color: #3289ce !important; }
	a.delicious-icon:hover { color: #3399fe !important; }
	a.deviantart-icon:hover { color: #c8da30 !important; }
	a.digg-icon:hover { color: #0080c2 !important; }
	a.drupal-icon:hover { color: #0077b9 !important; }
	a.empire-icon:hover { color: #000000 !important; }
	a.foursquare-icon:hover { color: #daecb0 !important; }
	a.git-icon:hover { color: #f34f29 !important; }
	a.gitti-icon:hover { color: #634c3e !important; }
	a.hacker-news-icon:hover { color: #f18642 !important; }
	a.html5-icon:hover { color: #e54c1f !important; }
	a.joomla-icon:hover { color: #016fb9 !important; }
	a.jsfiddle-icon:hover { color: #4679a4 !important; }
	a.linux-icon:hover { color: #fece0e !important; }
	a.maxcdn-icon:hover { color: #f36f20 !important; }
	a.openid-icon:hover { color: #fe6101 !important; }
	a.pagelines-icon:hover { color: #3783e3 !important; }
	a.pied-piper-icon:hover { color: #0c7b48 !important; }
	a.qq-icon:hover { color: #23286c !important; }
	a.rebel-icon:hover { color: #000000 !important; }
	a.reddit-icon:hover { color: #cee3f8 !important; }
	a.renren-icon:hover { color: #0d81e4 !important; }
	a.share-icon:hover { color: #252525 !important; }
	a.slack-icon:hover { color: #453744 !important; }
	a.soundcloud-icon:hover { color: #fe4e00 !important; }
	a.spotify-icon:hover { color: #80bb41 !important; }
	a.stack-exchange-icon:hover { color: #265a93 !important; }
	a.stackoverflow-icon:hover { color: #fea501 !important; }
	a.steam-icon:hover { color: #191919 !important; }
	a.stumbleupon-icon:hover { color: #f04f23 !important; }
	a.tencent-weibo-icon:hover { color: #0063a7 !important; }
	a.trello-icon:hover { color: #226784 !important; }
	a.vine-icon:hover { color: #00b081 !important; }
	a.vk-icon:hover { color: #50769d !important; }
	a.wechat-icon:hover { color: #a4dc31 !important; }
	a.weibo-icon:hover { color: #d82828 !important; }
	a.wordpress-icon:hover { color: #454442 !important; }
	a.yahoo-icon:hover { color: #4b04a8 !important; }

/* ==========================================================================
   =Styled Tables
   ========================================================================== */

	.table-bordered { 
		border: 1px solid #e0e0e0; 
		border-left: none; 
		border-collapse: separate; 		
	}
	
	.table-bordered th, 
	.table-bordered td { border-left: 1px solid #e0e0e0; }
	
	.table-bordered caption + thead tr:first-child th,
	.table-bordered caption + tbody tr:first-child th,
	.table-bordered caption + tbody tr:first-child td,
	.table-bordered colgroup + thead tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child td,
	.table-bordered thead:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child td { border-top: none; }

	.table-condensed th,
	.table-condensed td { padding: 4px 8px; }
	
	.table-striped tbody tr:nth-child(odd) td,
	.table-striped tbody tr:nth-child(odd) th { background-color: #f3f3f3; }	

	@media (max-width: 480px) {
	
		/**
		 * Force table to not be like tables anymore
		 */
		 
		table, 
		thead, 
		tbody, 
		th, 
		td, 
		tr { display: block; }
		
		.table-bordered { border-top: none; }
		
		/**
		 * Hide table headers
		 */
	
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border-top: 1px solid #bbb; }
		
		td:first-child { border-top: none !important; }
	  
	}

/* ==========================================================================
   =Tabs
   ========================================================================== */

/* =Horizontal tabs
   ========================================================================== */
		
   /*
    *  1. Wraps around a horizontal tab group
	*/
   
	.tabs-container {} /* 1 */

	.tabs-container .tabs-menu { 
		margin-top: 10px; 
		margin-bottom: 5px;
		list-style: none; 
	}
	
	.tabs-container .tabs-menu li { display: inline-block; }
	
	.tabs-container .tabs-menu li a {
		position: relative;
		z-index: 2;
		overflow: hidden; 
		float: left; 
		display: block;
		padding: 15px 30px;
		border-radius: 7px; 	
		background-color: #51648a;
		color: #fff;
		text-decoration: none;
	}
	
	.tabs-container .tabs-menu li a:after {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		background-color: #3db39e;
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.tabs-container .tabs-menu li a:hover:after,
	.tabs-container .tabs-menu li a.active:after { 
		width: 100%;
		border-radius: 7px;
	}
	
	.tabs-container .tabs-menu li a:hover,
	.tabs-container .tabs-menu li a.active { background-color: #51648a; }
	
	.tabs-container .tabs {
		border-radius: 7px;
		margin-bottom: 50px;
		background-color: #f4f4f4;
	}
	
	.tabs-container .tab-content { padding: 25px; }
	.tabs-container .tab-content p:last-child { margin-bottom: 0; }
	
/* =Vertical tabs
   ========================================================================== */
	
	.vertical-tabs-container {
		position: relative;
		border: 1px solid #e0e0e0;
		background-color: #f3f3f3;
	}
	
	.vertical-tabs-container .tabs-menu { 
		float: left;
		width: 179px;
		border-right: 1px solid #e0e0e0;
		margin-bottom: 0;
		list-style: none;
	}
	
	.vertical-tabs-container .tabs-menu li a { 
		display: block;
		padding: 15px 25px; 
		border-right: 1px solid #e0e0e0;	
		border-bottom: 1px solid #e0e0e0;
		margin-right: -1px; 
		background-color: #f3f3f3;
		color: #222;
		text-decoration: none;
	}
	
	.vertical-tabs-container .tabs-menu li.active a {
		border-right-color: #fff;
		background-color: #fff;
	}
	
	.vertical-tabs-container .tabs {
		margin-left: 180px;	
		background-color: #fff;
	}
	
	.vertical-tabs-container .tab-content { padding: 25px; }
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu { border-bottom: none; }
		
		.tabs-container .tabs-menu li { 
			display: block;
			margin-bottom: 5px;
		}
	
		.tabs-container .tabs-menu li a { 
			float: none; 
			display: block;
			padding: 20px 25px;
			border-top: none;
			margin: 0;
		}
		
		.tabs-container .tabs-menu li a:hover { text-decoration: none; }
		
		.tabs-container .tabs-menu li.active a {  
			padding: 20px 25px;
			margin: 0;
			background-color: #fff;
		}
		
		.vertical-tabs-container .tabs-menu { 
			float: none;
			width: 100%;
		}
		
		.vertical-tabs-container .tabs { margin-left: 0; }
		
		.vertical-tabs-container .tabs-menu li a { 
			padding: 20px 25px;
			border-right: none;
			margin-right: 0;
		}

		.vertical-tabs-container .tabs-menu li.active a { border-bottom-color: #bbb; }		
	  
	}
	
/* ==========================================================================
   =Testimonials
   ========================================================================== */

	.testimonial {
		position: relative;
		margin-bottom: 50px;
		text-align: center;
	}
	
	.testimonial:before {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 60px;
		content: "\201C";
	}
	
	.testimonial blockquote { 
		position: relative; 
		margin-bottom: 30px;
		text-indent: 25px;  
	}
	
	.testimonial blockquote p { 
		margin-bottom: 0; 
		font-style: normal; 
	}

	.testimonial img { 
		float: left; 
		border-radius: 50%;  
		margin-right: 20px;
	}
	
	.testimonial > h3 {
		margin-bottom: 0;
		color: #3db39e;
		font-weight: 600;
	}
	
	.testimonial a {}
	
	.testimonial h5 span { color: #999; }
	
	
/* ==========================================================================
   =Team Member
   ========================================================================== */

	.team-member {
		margin: 50px 0;
		text-align: center;
	}
	
	.team-member img {
		display: block;
		max-width: 100%;
		margin: 0 auto 30px auto;
	}
	
	.team-member h3 { 
		margin-bottom: 0;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.team-member .social-media a.social-icon {
		float: none;
		display: inline-block;
	}
	
/* ==========================================================================
   =Portfolio Item
   ========================================================================== */
	
	.portfolio-item {
		position: relative;
		margin-bottom: 50px;
	}
	
	.portfolio-item-preview { position: relative; }
	
	.portfolio-item-preview > img {
		display: block;
		width: 100%;
		border-radius: 20px;
		-webkit-transition: all 0.5s; 
				transition: all 0.5s;
	}
		
	.portfolio-item-overlay {
		position: absolute; 
		top: 0; 
		right: 0; 
		bottom: 0;
		left: 0; 
		padding: 20px; 
		border-radius: 20px; 
		background-color: #3db39e;
		opacity: 0; 
		-webkit-transform: scale(0); 
			-ms-transform: scale(0); 
			 -o-transform: scale(0); 
				transform: scale(0); 
		-webkit-transition: all 0.5s; 
				transition: all 0.5s;
	}
			
	.portfolio-item-overlay-actions {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -40px;
		text-align: center;
	}
	
	.portfolio-item-overlay-actions .portfolio-item-zoom,
	.portfolio-item-overlay-actions .portfolio-item-link {
		display: inline-block;
		width: 80px; 
		height: 80px;  
		border-radius: 50%;
		background-color: #51648a; 
		color: #fff;
		text-align :center;
		text-decoration: none; 
	}
			
	.portfolio-item-overlay-actions .portfolio-item-zoom i,
	.portfolio-item-overlay-actions .portfolio-item-link i { 
		font-size: 32px; 
		line-height: 80px; 
	}
	
	.portfolio-item-overlay-actions .portfolio-item-zoom img,
	.portfolio-item-overlay-actions .portfolio-item-link img { margin: 17px auto; }
			
	.portfolio-item-description,
	.portfolio-item-description h4 { color: #fff; }
			
	.portfolio-item:hover .portfolio-item-overlay {
		opacity: 1; 
		-webkit-transform: scale(1); 
			-ms-transform: scale(1);
			 -o-transform: scale(1);  
				transform: scale(1); 
	}
	.portfolio-item:hover .portfolio-item-preview > img { 
		-webkit-transform: scale(0); 
			-ms-transform: scale(0);
			 -o-transform: scale(0);  
				transform: scale(0); 
	}
	
/* ==========================================================================
   =Portfolio Filter
   ========================================================================== */
	
	.portfolio-filter ul {
		margin: 30px auto;
		list-style: none;
		text-align: center;
	}
	
	.portfolio-filter ul li { 
		display: inline-block;
		margin-right: 35px;
	}
	
	.portfolio-filter ul li:last-child { margin-right: 0; }
	
	.portfolio-filter ul li a {
		position: relative;
		z-index: 2;
		overflow: hidden;
		display: inline-block;
		padding: 5px 25px;
		border-radius: 20px;
		background-color: #dcdcdc;
		background-clip: padding-box;
		border-right: 5px solid #cdcdcd;
		border-bottom: 5px solid #cdcdcd;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.portfolio-filter ul li a:after {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		background-color: #3db39e;
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.portfolio-filter ul li a:hover:after,
	.portfolio-filter ul li a.active:after { 
		width: 100%;
		border-radius: 20px;
	}
	
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active { border-color: #2f9f8b;  }
	
	@media (max-width: 767px) {
		
		.portfolio-filter ul li { 
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
		
		.portfolio-filter ul li:last-child { margin-bottom: 0; }
		
	}

/* ==========================================================================
   =Portfolio Pagination
   ========================================================================== */
	
	.pagination { 
		margin-top: 50px;
		list-style: none;
	}
	
	.pagination li { display: inline-block }

	.pagination a {
		position: relative;
		z-index: 2;
		overflow: hidden; 
		display: block; 
		padding: 7px 15px;
		border-radius: 15px; 
		margin-right: 10px;
		margin-bottom: 2px;
		background-color: #dcdcdc;
		background-clip: padding-box;
		color: #222;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.pagination li:last-child a { margin-right: 0; }
	
	.pagination a:after {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		background-color: #2f9f8b;
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	
	.pagination a:hover:after,
	.pagination li.current a:after {
		border-radius: 15px;  
		width: 100%; 
	}
	
	.pagination a:hover,
	.pagination li.current a { 
		background-color: #3db39e;
		color: #fff;
	}	

/* ==========================================================================
   =Portfolio Columns
   ========================================================================== */
	
	.portfolio-columns {
		margin: 0 -15px 30px -15px;
		list-style: none;
	}
	
	.portfolio-columns .item {
		float: left;
		width: 33.3333333333%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 10px;
		
	}
	
	.portfolio-columns .item .portfolio-item { margin-bottom: 0; }
	
	@media (min-width: 1400px) {
			
		.portfolio-columns .item {}
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.portfolio-columns .item { 
			width: 50%;
			padding: 7.5px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-columns .item {
			float: none;
			width: 100%; 
		}
		
	}

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.portfolio-columns .item {
			float: left;
			width: 50%; 
		}
		
	}
   
/* ==========================================================================
   =Portfolio Grid
   ========================================================================== */

   .portfolio-grid {
		margin-bottom: 50px;
		list-style: none;
	}
	
	.portfolio-grid .item {
		float: left;
		width: 25%;
	}
	
	.portfolio-grid .portfolio-item { margin-bottom: 0; } 
	
	@media (min-width: 1400px) {
		
		.portfolio-grid .item { width: 20%; } 
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.portfolio-grid .item { width: 33.3333333333%; } 
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-grid .item {
			float: none;
			width: 100%; 
		}
		
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.portfolio-grid .item {
			float: left;
			width: 50%; 
		}
		
	}
   
/* ==========================================================================
   =Portfolio Strip
   ========================================================================== */
   
   .portfolio-strip {
		margin-bottom: 50px;
		list-style: none;
	}
	
	.portfolio-strip .item {
		float: left;
		width: 25%;
	}
	
	.portfolio-strip .item:last-child { display: none; }
	
	.portfolio-strip .portfolio-item { margin-bottom: 0; } 
	
	@media (min-width: 1400px) {
		
		.portfolio-strip .item { width: 20%; }
		.portfolio-strip .item:last-child { display: block; } 
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.portfolio-strip .item { width: 33.3333333333%; }
		.portfolio-strip .item:last-child { display: block; } 
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-strip .item {
			float: none;
			width: 100%; 
		}
		
		.portfolio-strip .item:last-child { display: block; } 
		
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.portfolio-strip .item {
			float: left;
			width: 50%; 
		}
		
	}
   
/* ==========================================================================
   =Contact form
   ========================================================================== */
  
	#contact-form { 
		overflow: hidden; 
		margin-bottom: 50px; 
	}
	
	#contact-form fieldset {}
	
	label.validation-error { color: #f8ac81; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border: 1px solid #e0e0e0; }
	
	#contact-form #formstatus {}
		
	#contact-form textarea {}	
	
	#contact-form #submit:hover { background-color: #2f9f8b; }  
	         
/* ==========================================================================
   =Blog
   ========================================================================== */
	
	#blog-list {}
	#blog-grid {}
	
	.blog-post {
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		margin: 50px 0;
	}
	
	.blog-post-title h3 { 
		margin-bottom: 0;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.blog-post-title a { color: #51648a; }
	.blog-post .blog-post-title h3 a { color: #222; }
	
	.blog-post-thumb { margin-bottom: 25px; }
	
	.blog-post-thumb img {
		display: block;
		width: 100%;
		border-radius: 20px;
	}
	
	.blog-post-info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		padding: 25px 0;
		background-color: #3db39e;
		color: #fff;
		font-size: 36px;
		line-height: 30px;
		font-weight: 700;
		text-align: center;
	}
	
	.blog-post-info small {
		display: block;
		font-size: 18px; 
		text-transform: uppercase;
		font-weight: 600;
	}
	
	#blog-grid .blog-post {
		padding: 0 20px 20px 20px;
		background-color: #b2d9e5;
	}
	
	#blog-grid .blog-post-title,
	#blog-grid .blog-post-title h3 a { color: #fff; }
	
	#blog-grid .blog-post-thumb { margin: 0 -20px 25px -20px; }
	#blog-grid .blog-post-thumb img { border-radius: 0; }

/* ==========================================================================
   =Fullwidth Section
   ========================================================================== */
   
    /**
 	 * Full width section
 	 *
	 * 1. background-image must be supplied using inline css as it is different for every .fullwidth-section
	 *
	 */
	 
   .fullwidth-section {
		position: relative;
		overflow: hidden;
		z-index: 0;	
		padding: 30px 0;
		margin-bottom: 50px;
		color: #fff;
		background-color: #3e4f71;
		background-attachment: scroll;
		background-repeat: no-repeat; /* 1 */ 
		background-position: 50% 0;		
	}

	.fullwidth-section-content {
		position: relative;
		z-index: 3;
	}
   
   	.fullwidth-section-overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
		background-position: 0 0;	
	}
	
	.fullwidth-section-video {
		position: absolute;
		overflow: hidden;
		z-index: 1;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	.parallax.parallax-enabled { 
		background-attachment: fixed !important;
		-webkit-background-size: cover;
				background-size: cover;	
	}
	

	.horizontal-parallax { background-repeat: repeat-x; }
	
	.animated-parallax { background-repeat: repeat-x; }
	
	.scene {
		position: absolute;
		top: -140px;
		left: 0;
		width: 100%;
	}
	
	.scene img { width: 100%; }
	
	.fullwidth-section h1 a, 
	.fullwidth-section h2 a, 
	.fullwidth-section h3 a, 
	.fullwidth-section h4 a, 
	.fullwidth-section h5 a, 
	.fullwidth-section h6 a,
	.fullwidth-section a.social-icon,
	.fullwidth-section .ewf_widget_contact_info ul li a { color: #fff; }
	
	.fullwidth-section .text-highlight { color: #51648a; }
	
	.fullwidth-section .toggle-item:hover, 
	.fullwidth-section .toggle-item.active,
	.fullwidth-section .accordion-item:hover, 
	.fullwidth-section .accordion-item.active { 
		background-color: #fff;
		color:#3db39e;
	}
	
	.fullwidth-section .btn.alt:hover { background-color: #485a7f; }
	.fullwidth-section .btn.alt:after { background-color: #495a7c; }
	
	.fullwidth-section .pricing-table { background-color: #51648a; }
	
	.fullwidth-section .tabs-container .tabs { color: #222; }
	
	.fullwidth-section .horizontal-process-builder li i,
	.fullwidth-section .horizontal-process-builder li h1 { outline: 0; }
	
	.fullwidth-section input[type="text"],
	.fullwidth-section textarea,
	.fullwidth-section select { background-color: #fff; }
	
	/* Full width section backgrounds */
	
	#bg-1 {
		padding-top: 100px;
		padding-bottom: 0;
		margin-top: 50px;
		background: url(../../_content/backgrounds/1920x840.jpg) bottom center;
	}
	
	#bg-1 img { display: block; }
	
	#bg-2 {
		padding: 180px 0 200px 0;
		margin-top: 80px;
		background-image: url(../../_content/backgrounds/1920x580.jpg); 
	}
	
	#bg-3 {
		padding: 100px 0 140px 0;
		margin-top: 50px;
		background-image: url(../../_content/backgrounds/1920x380.jpg); 
	}
	
	#bg-4 {
		padding: 50px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../_content/backgrounds/1920x250.jpg);
		color: #222;
	}
	
	#bg-5 { background-color: #40b79c; }
	
	#bg-6 {
		padding: 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../_content/backgrounds/1920x700.jpg); 
	}
	
	#bg-7 {
		padding-top: 100px; 
		background-image: url(../../_content/backgrounds/1920x1000.png); 
		-webkit-background-size: auto;
				background-size: auto; 
	}
	
	#bg-8 {
		padding-top: 50px;
		background-color: #b2d9e5;
		color: #51648a;
	}
	
	#bg-9 {
		padding: 140px 0;
		margin-top: 50px;
		background-image: url(../../_content/backgrounds/1920x700.jpg); 
	}
	
	#bg-10 {
		padding-top: 0;
		padding-bottom: 100px;
		margin-bottom: 0;
		background: #d0dfe5 url(../../_content/backgrounds/1920x1000.jpg) no-repeat bottom center;
	}
	
	#bg-11 {
		padding: 250px 0 200px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background: url(../../_content/backgrounds/1920x1400.jpg) no-repeat top center;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#bg-3 { padding: 60px 0 90px 0; }
		
	}
	
	@media (max-width: 767px) {

		.fullwidth-section {
			-webkit-background-size: cover;
					background-size: cover;		
		}
		
		.scene { top: 0; }
		
		#bg-11 { padding: 100px 0; }
		
	}
	
/* ==========================================================================
   =WordPress Default Classes
   ========================================================================== */
   
    .ewf-inline-style { display: none; }
	
	.wp-caption {}
	
	.wp-caption-text {}
	
	.sticky {}
	
	.gallery-caption {}
	
	.alignright  {}
	
	.alignleft  {}
	
	.aligncenter  {}
	
	.alignnone { margin: 5px 20px 20px 0; }

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto;
	}

	.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	.aligncenter {
		display: block;
		margin: 5px auto;
	}

	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	a img.alignnone { margin: 5px 20px 20px 0; }

	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	/**
 	 * 1. Image does not overflow the content area
 	 */
	
	.wp-caption {
		max-width: 96%; /* 1 */
		padding: 5px 3px 10px;
		border: 1px solid #e0e0e0;
		background: #fff;
		text-align: center;
	}

	.wp-caption.alignnone { margin: 5px 20px 20px 0; }

	.wp-caption.alignleft { margin: 5px 20px 20px 0; }

	.wp-caption.alignright { margin: 5px 0 20px 20px; }

	.wp-caption img {
		max-width: 98.5%;
		width: auto;
		height: auto;
		padding: 0;
		border: none;
		margin: 0;
	}

	.wp-caption p.wp-caption-text {
		padding: 0 4px 5px 4px;
		margin: 0;
		font-size: 11px;
		line-height: 17px;		
	}
	
/* ==========================================================================
   =WordPress Widgets
   ========================================================================== */
	
/* =Widgets default
   ========================================================================== */
	
	.widget { margin-bottom: 100px; }
	
	.widget-title { 
		margin-bottom: 30px;
		line-height: 18px;
		font-weight: 600;
		text-transform: uppercase;  
	}
	
/* =Text Widget
   ========================================================================== */
	
	.widget_text {}
	
	.textwidget {}
	
	.textwidget h1 {
		font-size: 30px;
		line-height: 51px;
	}
	
/* =Search Widget
   ========================================================================== */
	
	.widget_search {}
	
	.widget_search .btn {
		display: block;
		text-align: center;
	}
	
	#searchform { position: relative; }
	
	.screen-reader-text { display: none; }
	
	#s { 
		display: inline-block; 
		width: 100%; 
		-webkit-box-sizing: border-box; 
		   -moz-box-sizing: border-box; 
		   		box-sizing: border-box;
		margin-bottom: 0;
	}
	
	#searchsubmit { 
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: url(../images/bg-search.png) no-repeat center center;
		vertical-align: inherit;
	}

/* =Recent Entries Widget
   ========================================================================== */
	
	.widget_recent_entries {}
	
	.widget_recent_entries ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_recent_entries ul li { margin-bottom: 20px; }
	.widget_recent_entries ul li:last-child { margin-bottom: 0; }
	
	.widget_recent_entries ul li a { 
		display: block;
		color: #222;
		font-weight: 600;
	}
	
	.widget_recent_entries ul li .post-date {}
	
/* =Pages Widget
   ========================================================================== */
	
	.widget_pages {}
	
	.widget_pages ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_pages ul li { margin-bottom: 7px; } 
	
	.widget_pages ul li:last-child { margin-bottom: 0; } 
	
	.widget_pages ul li:before {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 25px;
		background-color: #3db39e;
		content: "";
	}
	
	.widget_pages a {
		color: #222;
		font-weight: 600;
	}
	
/* =Archive Widget
   ========================================================================== */
	
	.widget_archive {}
	
	.widget_archive ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_archive ul li { margin-bottom: 7px; } 
	
	.widget_archive ul li:last-child { margin-bottom: 0; } 
	
	.widget_archive ul li:before {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 25px;
		background-color: #3db39e;
		content: "";
	}
	
	.widget_archive a {
		color: #222;
		font-weight: 600;
	}
	
	.widget_archive select {}
	
	.widget_archive option {}	
	
/* =Categories Widget
   ========================================================================== */
	
	.widget_categories {}
	
	.widget_categories ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_categories ul li { margin-bottom: 7px; } 
	
	.widget_categories ul li:last-child { margin-bottom: 0; } 
	
	.widget_categories ul li:before {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 25px;
		background-color: #3db39e;
		content: "";
	}
	
	.widget_categories a {
		color: #222;
		font-weight: 600;
	}
	
	.widget_categories ul ul.children {}
	
	.widget_categories select {}
	
	.widget_categories select#cat {}
	
	.widget_categories select.postform {}
	
	.widget_categories option {}
	
	.widget_categories .level-0 {}
	
	.widget_categories .level-1 {}
	
	.widget_categories .level-2 {}
	
	.widget_categories .level-3 {}
	
/* =Meta Widget
   ========================================================================== */
	
	.widget_meta {}
	
	.widget_meta ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_meta ul li { margin-bottom: 7px; } 
	
	.widget_meta ul li:last-child { margin-bottom: 0; } 
	
	.widget_meta ul li:before {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 25px;
		background-color: #3db39e;
		content: "";
	}
	
	.widget_meta a {
		color: #222;
		font-weight: 600;
	}
	
/* =Recent Comments Widget
   ========================================================================== */
	
	.widget_recent_comments {}
	
	#recentcomments { list-style: none; }
	
	#recentcomments li {}
	
	#recentcomments li a {}
	
	.recentcomments {}
	
/* =Tag Cloud Widget
   ========================================================================== */
	
	.widget_tag_cloud {}
	
	.widget_tag_cloud a {
		position: relative;
		z-index: 2;
		overflow: hidden;
		display: inline-block; 
		padding: 5px 20px; 
		border-radius: 15px;
		margin: 0 5px 10px 0;
		background-color: #3db39e;
		color: #fff;
		line-height: 18px; 
		text-decoration: none !important;
		vertical-align: middle;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 	
	}
	
	.widget_tag_cloud a:after {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		background-color: #2f9f8b;
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.widget_tag_cloud a:hover:after { width: 100%; }
	.widget_tag_cloud a:hover { background-color: #3db39e;  }
	
/* =Calendar Widget
   ========================================================================== */
	
	.widget_calendar {}
	
	#calendar_wrap {}
	
	#calendar_wrap th {}
	
	#calendar_wrap td {}
	
	#wp-calendar tr td {}
	
	#wp-calendar caption {}
	
	#wp-calendar a {}
	
	#wp-calendar #today {}
	
	#wp-calendar #prev {}
	
	#wp-calendar #next {}
	
	#wp-calendar #next a {}
	
	#wp-calendar #prev a {}
	
/* =Nav Menu Widget
   ========================================================================== */
	
	.widget_nav_menu {}	
	
	.widget_nav_menu ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_nav_menu ul li { margin-bottom: 7px; } 
	
	.widget_nav_menu ul li:last-child { margin-bottom: 0; } 
	
	.widget_nav_menu ul li:before {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 25px;
		background-color: #3db39e;
		content: "";
	}
	
	.widget_nav_menu a {
		color: #222;
		font-weight: 600;
	}
	
/* =RSS Widget
   ========================================================================== */
	
	.widget_rss {}
	
	.widget_rss ul { list-style: none; }	
	
/* ==========================================================================
   =WordPress Custom Widgets
   ========================================================================== */
   
/* =EWF Twitter widget
   ========================================================================== */
	
	.ewf_widget_latest_tweets{}
	
	.ewf-tweet-list .tweet { word-wrap: break-word; }
	
	.ewf-tweet-list ul { list-style: none; }
	
	.ewf-tweet-list .interact { text-align: center; }
	
	.ewf-tweet-list .interact a { margin-right: 10px; }
	
	.ewf-tweet-list .interact a:last-child { margin-right: 0; }
	
/* =EWF Flickr widget
   ========================================================================== */
	
	.ewf_widget_flickr {}
	
	.flickr-feed {}
	
	.flickr-feed .flickr_badge_image { display: inline; }
	
	.flickr-feed img { 
		width: 75px; 
		height: auto;
		padding: 0 5px 0 0; 
		border: none;
	}
	
/* =EWF Contact Info widget
   ========================================================================== */	
	
	.ewf_widget_contact_info {}
	
	.ewf_widget_contact_info ul {
		margin-bottom: 0;
		list-style: none;
	}
	
	.ewf_widget_contact_info ul li {
		position: relative;
		padding-left: 20px;
		margin-bottom: 20px;
		font-weight: 600; 
	}
	
	.ewf_widget_contact_info ul li:last-child { margin-bottom: 0; }
	
	.ewf_widget_contact_info ul li:before {
		position: absolute;
		top: 9px;
		left: 0;
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background-color: #3db39e;
		content: "";
	}
	
	.ewf_widget_contact_info ul li a { color: #222; }
	
/* =EWF Newsletter subscribe widget
   ========================================================================== */

	.ewf_widget_newsletter {}
	
	#newsletter-subscribe-form { position: relative; }
	
	#newsletter-subscribe-form input[type="text"] { 
		width: 100%;
		height: 45px;
		border-radius: 20px;
		margin-bottom: 0;
	}
	
	#newsletter-subscribe-form input[type="submit"] {
		position: absolute;
		top: 0;
		right: -1px;
		height: 45px;
		padding: 11px 10px;
		border-radius: 0 20px 20px 0;
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	#newsletter-subscribe-form input[type="submit"]:hover { background-color: #2f9f8b; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#newsletter-subscribe-form input[type="submit"] {
			position: relative;
			border-radius: 20px;
			margin-top: 10px;
		}
		
	}

/* =EWF Latest posts widget
   ========================================================================== */

	.ewf_widget_latest_posts {}
	
	.ewf_widget_latest_posts ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.ewf_widget_latest_posts ul li { margin-bottom: 25px; }
	.ewf_widget_latest_posts ul li:last-child { margin-bottom: 0; }
	
	.ewf_widget_latest_posts ul li img { 
		float: left;
		border-radius: 25px;
		margin-right: 15px;
	}
	
	.ewf_widget_latest_posts ul li .title { 
		color: #222;
		font-weight: 600;
		text-transform: uppercase;
	}	

	/*
	 * 1. Clearfix hack 
	 */
	 
	.ewf_widget_latest_posts ul li:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.ewf_widget_latest_posts ul li img { display: none; }
		
	}
	
/* =EWF Navigation widget
   ========================================================================== */
	
	.ewf_widget_navigation {}
	
	.ewf_widget_navigation ul {  
		margin-bottom: 30px; 
		list-style-type: none; 
		list-style-position: outside; 
	}
	
	.ewf_widget_navigation li { border-bottom: 1px solid #e0e0e0; }
	
	.ewf_widget_navigation li:last-child { border-bottom: none; }
	
	.ewf_widget_navigation li a { 
		display: block; 
		padding: 10px 0; 
	}
	
	.ewf_widget_navigation li a:hover { text-decoration: none; }

/* =EWF Social media widget
   ========================================================================== */
	
	.ewf_widget_social_media {}
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.ewf_widget_social_media:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}	

/* ==========================================================================
   =WordPress Comments
   ========================================================================== */
   
	.comments-title { 
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.comment-reply-title {}
	
	.commentlist .reply { margin-left: 100px; }
	
	.commentlist .reply a {}
	
	.commentlist .alt {}
	
	.commentlist .odd {}
	
	.commentlist .even {}
	
	.commentlist .thread-alt {}
	
	.commentlist .thread-odd {}
	
	.commentlist .thread-even {}
	
	.commentlist li ul.children .alt {}
	
	.commentlist li ul.children .odd {}
	
	.commentlist li ul.children .even {}
	
	.commentlist .vcard {}
	
	.commentlist .vcard cite.fn {}
	
	.commentlist .vcard span.says { display: none; }
	
	.commentlist .vcard img.photo {}
	
	.commentlist .vcard img.avatar {
		float: left;
		display: block;
		border-radius: 50%;
		margin-right: 20px;
	}
	
	.commentlist .vcard cite.fn a.url {
		color: #222;
		font-size: 18px;
		font-weight: 600;
	}
	
	.commentlist .comment-meta {}
	
	.commentlist .comment-meta a {
		color: #222;
		font-weight: 600;
	}
	
	.commentlist .commentmetadata {}
	
	.commentlist .commentmetadata a {}
	
	.commentlist .parent {}
	
	.commentlist .comment {}
	
	.commentlist .children {}
	
	.commentlist .pingback {}
	
	.commentlist .bypostauthor {}
	
	.commentlist .comment-author {}
	
	.commentlist .comment-author-admin {}
	
	.commentlist {
		margin: 30px 0 80px 0;
		list-style: none; 
	}
	
	.commentlist li {}
	
	.commentlist li .comment-body { margin-bottom: 30px; }
	
	.commentlist li p { margin-left: 100px; }
	
	.commentlist li ul {
		margin-left: 100px;
		list-style: none; 
	}
	
	.commentlist li ul.children li {}
	
	.commentlist li ul.children li.alt {}
	
	.commentlist li ul.children li.byuser {}
	
	.commentlist li ul.children li.comment {}
	
	.commentlist li ul.children li.bypostauthor {}
	
	.commentlist li ul.children li.comment-author-admin {}
	
	#cancel-comment-reply {}
	
	#cancel-comment-reply a {}

	@media (max-width: 767px) {
		
		.commentlist .vcard img.avatar {
			float: none;
			margin-right: 0;
			margin-bottom: 20px;
		}
		
		.commentlist .reply,
		.commentlist li ul,
		.commentlist li p { margin-left: 0; }
		
	}
	
/* ==========================================================================
   =WordPress Comment Form
   ========================================================================== */	
   
	.nocomments { display: none; }
	
	.must-log-in { display: none; }
	
	.logged-in-as { display: none; }
	
	.nav-previous { display: none; }
	
	.nav-next { display: none; }

	.section-heading {
		font-weight: 600;
		text-transform: uppercase;
	}
	
	#commentform { margin-top: 30px; }
	
	.comment-notes { display: none; }
	
	.comment-form-author {}
	
	.comment-form-author label { display: none; }
	
	.comment-form-author input#author {}
	
	.comment-form-email {}
	
	.comment-form-email label { display: none; }
	
	.comment-form-email input#email {}
	
	.comment-form-url {}
	
	.comment-form-url label { display: none; }
	
	.comment-form-url input#url {}
	
	#commentform .required {}
	
	.comment-form-comment {}
	
	.comment-form-comment label { display: none; }
	
	.comment-form-comment textarea#comment {}
	
	.form-allowed-tags { display: none; }
	
	.form-allowed-tags code {}
	
	.form-submit {}
	
	#commentform #submit {
		font-weight: 600;
		text-transform: uppercase;
	}
	
	#commentform #submit:hover { background-color: #2f9f8b; }